<div>
    <nav>
        <ul class="menu">
            <li><a href="/" target="_self">home</a></li>
            <li><a href="/about" target="_self">about</a></li>
            <li><a href="/help" target="_self">help</a></li>
        </ul>
    </nav>
</div>